<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h4>Consulta de contas</h4>
      <p>Preencha as datas para consultar as contas no período.</p>
      <hr />

      <div
        *ngIf="mensagem != ''"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>{{ mensagem }}</strong>
        <button
          (click)="mensagem = ''"
          type="button"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <input type="date" class="form-control" formControlName="dataMin" />
            <div
              class="text-danger"
              *ngIf="f['dataMin'].touched && f['dataMin'].invalid"
            >
              Por favor, informe a data de início do período.
            </div>
          </div>
          <div class="col">
            <input type="date" class="form-control" formControlName="dataMax" />
            <div
              class="text-danger"
              *ngIf="f['dataMax'].touched && f['dataMax'].invalid"
            >
              Por favor, informe a data de fim do período.
            </div>
          </div>
          <div class="col">
            <button class="btn btn-success" [disabled]="form.invalid">
              Pesquisar Contas
            </button>
          </div>
        </div>
      </form>

      <div class="table-responsive mt-3">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Nome da conta</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Tipo</th>
              <th>Categorias</th>
              <th>Operações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of contas">
              <td>{{ c.nome | uppercase }}</td>
              <td>{{ c.data | date : "dd/MM/yyyy" }}</td>
              <td>{{ c.valor | currency : "R$ " }}</td>
              <td>{{ c.tipo | uppercase }}</td>
              <td></td>
              <td>
                <button class="btn btn-sm btn-outline-primary me-2">
                  Editar
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onDelete(c.id)"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">Quantidade de registros: {{ contas.length }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
